#lastElement {
    width: 72%;
    margin-left: 14%;
}

.project {
    width: 72%;
    margin-left: 14%;
    border-bottom-style: solid;
    border-color: #696969;
}

.projectTitle {
    margin-bottom: 0;
}

.year {
    margin-top: 10px;
    margin-bottom: 0;
}

.class {
    margin-top: 0;
}

.summary {
    line-height: 18px;
}

.hiddenLogo {
    opacity: 0;
}

.publication-link:link {
    text-decoration: none;
    color: #006699;
}

.publication-link:visited {
    text-decoration: none;
    color: #006699;
}

.publication-link:hover {
    text-decoration: none;
    color: #006699;
}

@media screen and (max-width: 4000px), screen and (max-height: 3000px) {
    #lastElement {
        font-size: 1.2em;
    }
    .project {
        font-size: 1.2em;
    }
    .projectInfo {
        width: 880px;
        padding-left: 5%;
    }
    .githubLogo {
        width: 100px;
    }
    .hiddenLogo {
        width: 100px;
    }
}

@media screen and (max-width: 1920px), screen and (max-height: 1080px) {
    #lastElement {
        font-size: 1.2em;
    }
    .project {
        font-size: 1.2em;
    }
    .projectInfo {
        width: 700px;
        padding-left: 5%;
    }
    .githubLogo {
        width: 70px;
    }
    .hiddenLogo {
        width: 70px;
    }
}

@media screen and (max-width: 1600px), screen and (max-height: 900px) {
    .projectInfo {
        width: 680px;
        padding-left: 2%;
    }
}

/* Mobile Screen Resolution */
@media screen and (max-width: 720px) and (max-height: 1280px) {
    .project {
        width: 100%;
        margin-left: 0;
    }
  
    #lastElement {
      width: 100%;
      margin-left: 0;
    }
}
}
