
@media only screen and (max-width: 4000px) and (max-height: 3000px) {
    .main-nav .jp-nav {
        padding: 20px 3em;
    }
}

@media only screen and (max-width: 3000px) and (max-height: 2080px) {
    .main-nav .jp-nav {
        padding: 20px 3.5em;
    }
}

@media only screen and (max-width: 1950px) and (max-height: 1080px) {
    .main-nav .jp-nav {
        padding: 20px 2.8em;
    }
}

@media only screen and (max-width: 1850px) and (max-height: 1080px) {
    .main-nav .jp-nav {
        padding: 18px 2.3em;
    }
}

@media only screen and (max-width: 1750px) and (max-height: 1080px) {
    .main-nav .jp-nav {
        padding: 18px 2em;
    }
}

@media only screen and (max-width: 1550px) and (max-height: 1080px) {
    .main-nav .jp-nav {
        padding: 18px 1.8em;
    }
}

@media only screen and (max-width: 1500px) and (max-height: 1080px) {
    .main-nav .jp-nav {
        padding: 18px 1.6em;
    }
}

@media screen and (max-width: 1366px) and (max-height: 1080px)  {
    .main-nav .jp-nav {
    }
}

@media screen and (max-width: 1280px) and (max-height: 1080px) {
    .main-nav .jp-nav {
    }
}

@media screen and (max-width: 1200px) and (max-height: 1080px)  {
    .main-nav .jp-nav {
        padding: 18px 1.4em;
    }
}

/* Tablet Screen Resolution */
@media screen and (max-width: 800px) and (max-height: 1280px) {
    .main-nav .jp-nav {
        padding: 18px 1.5em;
    }
}
